<!-- Banner with Title -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'movie_audience.jpg' %>);">
  <div class="container">
    <h1>Save your <strong>favourite movies</strong> in personalised lists!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-gradient" href="#jump-mark">List now</a>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 text-center m-3">
      <h1 id="jump-mark">Your current lists <%= link_to  new_list_path do %>
        <i class="fa-solid fa-circle-plus fa-xs"></i>
       <% end %>
      </h1>
    </div>
    <div class="cards">
      <% @lists.each do |list| %>
        <%=  link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
              <%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://unsplash.it/640/425' %>
            );">
           <p><%= "#{list.name}" %></p>
          </div>
        <% end %>
      <% end %>

    </div>




</div>
